// fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// colors
$conflower-blue : #3252DF;
$blue-zodiac    : #152C5B;

$theme-colors: (
  "cornflower-blue": $conflower-blue,
  "blue-zodiac": $blue-zodiac
);

$primary  :     $conflower-blue !default;
$secondary:     $blue-zodiac !default;