.products {
  position: relative;
  height: 100%;
  overflow: hidden;
  border-radius: $border-radius*3.75;

  .badge {
    background-color: $wild-strawberry;
    border-radius: 0 0 0 $border-radius*3.75;
    color: $white;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.25rem 1rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;

    span {
      font-weight: 300;
    }
  }

  figure {
    position: relative;
    max-height: 60%;
    border-radius: inherit;

    .product-image {
      display: block;
      max-width: 100%;
      object-fit: cover;
      overflow: hidden;
      border-radius: inherit;
    }
  }

  .product-name {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
  
    .name {
      color: $blue-zodiac;
      font-size: 1.25rem;
      font-weight: 400;
    }

    .location {
      color: $gray-400;
      font-size: 1rem;
      font-weight: 300;
    }
  }

  &:hover {
    text-decoration: none;
  }

  &.most-picked {
    .product-image {
      object-fit: contain;
      position: absolute;
      z-index: -1;
      transition: 500ms transform ease-in-out;
      margin: 0;
    }
  
    .product-name {
      background: linear-gradient(0deg, $gray-900 0%, transparent 40%);
      color: $white;
      height: inherit;
      padding: 0.75rem 1rem;
      transform:translateY(-1rem);
      transition: 250ms transform ease-in-out;
  
      .name, .location {
        color: inherit;
      }
    }
  
    &:hover {
      text-decoration: none;
      cursor: pointer;
  
      .product-image {
        transform: scale(1.1);
        transition: 250ms transform ease-in-out;
      }
    
      .product-name {
        background: linear-gradient(0deg, $gray-900 0%, transparent 80%);
        transition: 250ms transform ease-in-out;
      }
    }
  }

}